body{
    margin: 0%;
    padding: 0%;
    width: 1300px;
    
    /* background-color: #3f3f3f;   */ 
    background-color: #0d0d0d;
    
}
.Ap{
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(228, 32, 32);
    background-color: rgb(228, 32, 32);
}
.Lihome{

    font-weight: bolder;
    /* text-shadow: 0.1px  0.3px rgb(248, 242, 242) */
}
#header{
    margin: auto;
    max-width: 1200px;
    background-image: url("img/p.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    
   
}
.h3Header{
font-size: 20px;
margin-top: 5px;
background-color: rgba(255, 0, 0, 0.726);
width: 260px;
}
h1{margin-bottom: 5px;
    font-size: 60px;
    margin-top: 10px;
}
h2{
    margin-bottom: 5px;
font-size: 35px;
}
.contePri{
    text-align: justify;
    position: absolute;
    right: 6%;
    top: 40%;
  
    width: 550px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.buttonP{
    color: rgb(0, 0, 0);
    font-weight: bolder;
   
    width: 180px;
    height: 45px;
    border-radius: 10px;
    border-style:  solid;
    border-color: rgb(255, 24, 24);
    background-color: rgb(255, 24, 24);
    /**cursor do mouser aparecer**/
    cursor: pointer;
}
.buttonP:hover{
    background-color: red;
}
a{
    text-decoration: none;
    
}
ul{
    
    margin-top: 15px;
    
   
}
li{
    
    font-weight: 900;
    color: #ffffff;
    list-style: none;
    display: inline; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
     width: 100%;
    /* border-bottom: 2px solid #222; */
    padding: 7px;
    /* border-radius: 10px; */
 
    
}
li:hover{
    color: red;
}
.iconeLista{
    width: 25px;
    height: 20px;
  
   
}
#menu{
    height: 100px;
    text-align: right;
    width: 100%;
     position: fixed;
     right: 9%;
     top: 5%;
    
 }



#check{
    display: none;
}

#icone{
    display:none;
}

/****************************CSS PARTE SOBRE MIM****************************************/
main{
    margin-top: 100px;
}
.H1main{
    color: white;
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
}
.sobre{
    color: white;
    display: flex;
    height: 500px;
    justify-content: space-evenly;
}
.imgSobre{  
            
            height: 100%;
            border-radius: 20px;
            border-color:#ececec ;
        }
.ConteudoSobre{
    font-size: 20px;
    text-align: justify;
    width: 600px;
}
.sobreCores{
    color: red;
}
.CurriculoS{
    color: white;
    text-align: center;
}
.CurriculoD{
   
    border-radius: 10px;
    border-bottom: red;
    background-color: red;
    
    width: 150px;
    
    
}
@media screen and (max-width: 950px){
    /****ficar visivel o position fixed dispositivel movel*/
    backface-visibility hidden
    .contePri{
        right:6%;
        font-size: 16px;
        width: 550px;
        top:40%;
        
            }
    
        #check:checked ~ .barra{
            transform: translateX(-680px);
                                 }
          /*stylo e fazendo barra de menu aparecer*/
          .barra{
              height: 100%;
            width: 200px;
            right: -680px; 
            transition: all .2s linear;
            position: fixed;
            background-color: rgba(0, 0, 0, 0.329);
                }
          #icone{
            right: 0%; 
            cursor: pointer;
            position: fixed;
            z-index: 1;
            padding: 15px;
            display: inline;
                }
          
          #menu{
              position: absolute;
            top: 50px;
            right:  8%;
            text-align: right;
               }
          #imgIC{
             width: 30px;
                }
          
          body{
              background-color: #0d0d0d;
    
             width:950px ;
              }
              li{
                  transition: all .2s linear;
                  display:block;
                  padding-bottom: 15px;
                  color: red;
                  
              }
              li:hover{
                  background-color: rgba(255, 0, 0, 0.692);
                  
                 
              }
              .Ap{border: none;}
              /********************parte sobre mim****************/

              .ConteudoSobre{
                font-size: 20px;
                text-align: justify;
                width: 500px;
            }
            .H1main{
                color: white;
                text-align: center;
                margin-bottom: 40px;
                font-size: 40px;
            }
           

}
 
 
 @media screen and (max-width: 850px){
    .contePri{
        
        right:0%;
        font-size: 16px;
        width: 530px;
        top: 40%;
        text-shadow: 2px  3px rgb(0, 0, 0)
            }
    .h1P{
        font-size: 60px;
        }
    .h2P{
        font-size: 30px;
        }
        h3{font-size: 20px;
        }
        #check:checked ~ .barra{
            transform: translateX(-680px);
                                 }
          /*stylo e fazendo barra de menu aparecer*/
          .barra{
            width: 210px;
            right: -680px; 
                }
          #icone{
            right: 0%; 
                }
          
          #menu{
            top: 50px;
            right:  10%;
            text-align: right;
               }
          #imgIC{
             width: 25px;
                }
          
          body{
              
             width:840px ;
              }
              li{
                  padding-bottom: 15px;
              }
              .buttonP{
                width: 150px;
                height: 35px;
                
            }
            #header{
                
                background-image: url("img/euuuu.png");/*************/

            }
              /********************parte sobre mim****************/

              .ConteudoSobre{
                font-size: 19px;
                text-align: justify;
                width: 450px;
            }
            .H1main{
                color: white;
                text-align: center;
                margin-bottom: 40px;
                font-size: 37px;
            }
 
 }
 @media screen and (max-width: 740px){
    .contePri{
        
        right:-2%;
        font-size: 16px;
        width: 530px;
        top: 40%;
            }
    .h1P{
        font-size: 50px;
        }
    .h2P{
        font-size: 30px;
        }
        h3{font-size: 20px;
        }
        #check:checked ~ .barra{
            transform: translateX(-680px);
                                 }
          /*stylo e fazendo barra de menu aparecer*/
          .barra{
            width: 210px;
            right: -680px; 
                }
          #icone{
            right: 0%; 
                }
          
          #menu{
            top: 50px;
            right:  10%;
            text-align: right;
               }
          #imgIC{
             width: 25px;
                }
          
          body{
              
             width:740px ;
              }
              li{
                  padding-bottom: 15px;
              }
              .buttonP{
                width: 140px;
                height: 32px;  
            }   
/********************parte sobre mim****************/

            .ConteudoSobre{
              font-size: 19px;
              text-align: justify;
              width: 400px;
          }
          .H1main{
              color: white;
              text-align: center;
              margin-bottom: 40px;
              font-size: 35px;
          }
    
 }
 @media screen and (max-width: 690px){
 
    .contePri{
        
        right:-2%;
        font-size: 16px;
        width: 520px;
        top: 40%;
            }
    .h1P{
        font-size: 50px;
        }
    .h2P{
        font-size: 30px;
        }
        h3{font-size: 20px;
        }
        #check:checked ~ .barra{
            transform: translateX(-690px);
                                 }
          /*stylo e fazendo barra de menu aparecer*/
          .barra{
            width: 690px;
            right: -690px; 
                }
                #icone{
                    right: 0%; 
                        }
          
          #menu{
            top: 100px;
            right:  5%;
            text-align: center;
               }
          #imgIC{
             width: 25px;
                }
          
          body{
             
             width:690px ;
              }
              li{
                  padding-bottom: 15px;
              }
              .buttonP{
                width: 130px;
                height: 30px;
                
            }
            /********************parte sobre mim****************/

            .ConteudoSobre{
                font-size: 19px;
                text-align: justify;
                width: 490px;
                margin: auto;
            }
            .H1main{
                color: white;
                text-align: center;
                margin-bottom: 40px;
                font-size: 35px;
            }
            .sobre{

                margin: auto;
                color: white;
                display: block;
                height: 500px;
                
            }
            .imgSobre{  
                        
                       display: none;
                    }
   
   
 }
 @media screen and (max-width: 610px){ /************************/
    #header{
        
        
        background-image: url("img/euuuu.png");
        
       
    }
    .contePri{
        
        right:-10%;
        font-size: 16px;
        width: 500px;
        top: 40%;
            }
    .h1P{
        font-size: 45px;
        }
    .h2P{
        font-size: 25px;
        }
        .h3Header{font-size: 15px;
            width: 190px;
        }
        #check:checked ~ .barra{
            transform: translateX(-620px);
                                 }
          /*stylo e fazendo barra de menu aparecer*/
          .barra{
            width: 620px;
            right: -620px; 
                }
                #icone{
                    right: 0%; 
                        }
          
          #menu{
            top: 100px;
            right:  5%;
            text-align: center;
               }
          #imgIC{
             width: 25px;
                }
          
          body{
              
             width:610px ;
              }
              li{
                  padding-bottom: 15px;
              }
              .buttonP{
                width: 115px;
                height: 28px;
                
            }
            .ConteudoSobre{
                font-size: 19px;
                text-align: justify;
                width: 450px;
                margin: auto;
            }
/**********sobre mim***********/
            .H1main{
                color: white;
                text-align: center;
                margin-bottom: 40px;
                font-size: 35px;
            }
            .sobre{

                margin: auto;
                color: white;
                display: block;
                height: 500px;
            }
            .ConteudoSobre{
                font-size: 19px;
                text-align: justify;
                width: 470px;
                margin: auto;
            }
 }
 
 @media screen and (max-width: 560px){
    .contePri{
        right:-10%;
        font-size: 15px;
        width: 480px;
        top: 40%;
            }
    .h1P{
        font-size: 40px;
        }
    .h2P{
        font-size: 25px;
        }
        .h3Header{font-size: 15px;
            width: 190px;
        }
        #check:checked ~ .barra{
            transform: translateX(-550px);
                                 }
          /*stylo e fazendo barra de menu aparecer*/
          .barra{
            width: 550px;
            right: -550px; 
                }
                #icone{
                    right: 0%; 
                        }
          
          #menu{
            top: 100px;
            right:  5%;
            text-align: center;
               }
          #imgIC{
             width: 25px;
                }
         
          body{
             
             width:560px ;
              }
              li{
                  padding-bottom: 15px;
              }
              .buttonP{
                width: 115px;
                height: 28px;
                
            }
            /**********sobre mim***********/
            .H1main{
                color: white;
                text-align: center;
                margin-bottom: 40px;
                font-size: 32px;
            }
            .sobre{

                margin: auto;
                color: white;
                display: block;
                height: 500px;
            }
            .ConteudoSobre{
                font-size: 18px;
                text-align: justify;
                width: 450px;
                margin: auto;
            }
            /**********sobre mim***********/
            .H1main{
                color: white;
                text-align: center;
                margin-bottom: 40px;
                font-size: 32px;
            }
            .sobre{

                margin: auto;
                color: white;
                display: block;
                height: 500px;
            }
            .ConteudoSobre{
                font-size: 19px;
                text-align: justify;
                width: 460px;
                margin: auto;
            }
   
 }
 @media screen and (max-width: 530px){
    .contePri{
        right:-11%;
        font-size: 15px;
        width: 450px;
        top: 40%;
            }
    .h1P{
        font-size: 40px;
        }
    .h2P{
        font-size: 25px;
        }
        #check:checked ~ .barra{
            transform: translateX(-550px);
                                 }
          /*stylo e fazendo barra de menu aparecer*/
          .barra{
            width: 550px;
            right: -550px; 
                }
                #icone{
                    right: 0%; 
                        }
          
          #menu{
            top: 100px;
            right:  5%;
            text-align: center;
               }
          #imgIC{
             width: 25px;
                }
         
          body{
             
             width:530px ;
              }
              li{
                  padding-bottom: 15px;
              }
              .buttonP{
                width: 110px;
                height: 25px;
            }
            /**********sobre mim***********/
            .H1main{
                color: white;
                text-align: center;
                margin-bottom: 40px;
                font-size: 31px;
            }
            .sobre{

                margin: auto;
                color: white;
                display: block;
                height: 500px;
            }
            .ConteudoSobre{
                font-size: 18px;
                text-align: justify;
                width: 460px;
                margin: auto;
            }
  
   
 }
 @media screen and (max-width: 500px){
    .contePri{
        right:-12%;
        font-size: 15px;
        width: 420px;
        top: 40%;
            }
    .h1P{
        font-size: 40px;
        }
    .h2P{
        font-size: 25px;
        }
        #check:checked ~ .barra{
            transform: translateX(-500px);
                                 }
          /*stylo e fazendo barra de menu aparecer*/
          .barra{
            width: 500px;
            right: -500px; 
                }
                #icone{
                    right: 0%; 
                        }
          
          #menu{
            top: 100px;
            right:  5%;
            text-align: center;
               }
          #imgIC{
             width: 25px;
                }
          
          body{
              
             width:500px ;
              }
              li{
                  padding-bottom: 15px;
              }
              .buttonP{
                width: 110px;
                height: 25px;
            }
             /**********sobre mim***********/
             .H1main{
                color: white;
                text-align: center;
                margin-bottom: 40px;
                font-size: 30px;
            }
            .sobre{

                margin: auto;
                color: white;
                display: block;
                height: 500px;
            }
            .ConteudoSobre{
                font-size: 18px;
                text-align: justify;
                width: 440px;
                margin: auto;
            }
  
 }
 @media screen and (max-width: 480px){
    .contePri{
        right:-12%;
        font-size: 14px;
        width: 400px;
        top: 40%;
            }
    .h1P{
        font-size: 38px;
        }
    .h2P{
        font-size: 24px;
        }
        .h3Header{font-size: 14px;
            width: 170px;
        }
        #check:checked ~ .barra{
            transform: translateX(-500px);
                                 }
          /*stylo e fazendo barra de menu aparecer*/
          .barra{
            width: 500px;
            right: -500px; 
                }
                #icone{
                    right: 0%; 
                        }
          
          #menu{
            top: 100px;
            right:  5%;
            text-align: center;
               }
          #imgIC{
             width: 25px;
                }
         
          body{
            
             width:480px ;
              }
              li{
                  padding-bottom: 15px;
              }
              .buttonP{
                width: 110px;
                height: 25px; 
            }
                   /**********sobre mim***********/
                   .H1main{
                    color: white;
                    text-align: center;
                    margin-bottom: 40px;
                    font-size: 28px;
                }
                .sobre{
    
                    margin: auto;
                    color: white;
                    display: block;
                    height: 500px;
                }
                .ConteudoSobre{
                    font-size: 17px;
                    text-align: justify;
                    width: 420px;
                    margin: auto;
                }
   
 }
 
 @media screen and (max-width: 430px){
    .contePri{
        right:-13%;
        font-size: 14px;
        width: 370px;
        top: 40%;
            }
    .h1P{
        font-size: 35px;
        }
    .h2P{
        font-size: 23px;
        }
        .h3Header{font-size: 13px;
            width: 160px;
        }
        #check:checked ~ .barra{
            transform: translateX(-500px);
                                 }
          /*stylo e fazendo barra de menu aparecer*/
          .barra{
            width: 500px;
            right: -500px; 
                }
                #icone{
                    right: 0%; 
                        }
          
          #menu{
            top: 100px;
            right:  0%;
            text-align: center;
               }
          #imgIC{
             width: 25px;
                }
        
          body{
             
             width:430px ;
              }
              li{
                  padding-bottom: 15px;
              }
              .buttonP{
                width: 100px;
                height: 20px;
                
            }
                   /**********sobre mim***********/
                   .H1main{
                    color: white;
                    text-align: center;
                    margin-bottom: 40px;
                    font-size: 27px;
                }
                .sobre{
    
                    margin: auto;
                    color: white;
                    display: block;
                    height: 500px;
                }
                .ConteudoSobre{
                    font-size: 17px;
                    text-align: justify;
                    width: 390px;
                    margin: auto;
                }
                .sobreCores{ font-size: 18px;}
 
}
 
 
 @media screen and (max-width: 400px){
    .contePri{
        right:-14%;
        font-size: 14px;
        width: 350px;
        top: 40%;
            }
    .h1P{
        font-size: 35px;
        }
    .h2P{
        font-size: 24px;
        }
        #check:checked ~ .barra{
            transform: translateX(-500px);
                                 }
          /*stylo e fazendo barra de menu aparecer*/
          .barra{
            width: 400px;
            right: -500px; 
                }
                #icone{
                    right: 0%; 
                        }
          
          #menu{
            top: 100px;
            right:  5%;
            text-align: center;
               }
          #imgIC{
             width: 25px;
                }
        
          body{
            
             width:400px ;
              }
              li{
                  padding-bottom: 15px;
              }
              .buttonP{
                width: 105px;
                height: 23px;
            }
                /**********sobre mim***********/
                .H1main{
                    color: white;
                    text-align: center;
                    margin-bottom: 40px;
                    font-size: 27px;
                }
                .sobre{
    
                    margin: auto;
                    color: white;
                    display: block;
                    height: 500px;
                }
                .ConteudoSobre{
                    font-size: 17px;
                    text-align: justify;
                    width: 340px;
                    margin: auto;
                }
                .sobreCores{ font-size: 18px;}
 }

 @media screen and (max-width: 350px){
    .contePri{
        right:-15%;
        font-size: 13px;
        width: 300px;
        top: 40%;
            }
    .h1P{
        font-size: 32px;
        }
    .h2P{
        font-size: 22px;
        }
        h3{font-size: 13px;
            width: 160px;
        }
        #check:checked ~ .barra{
            transform: translateX(-500px);
                                 }
          /*stylo e fazendo barra de menu aparecer*/
          .barra{
            width: 400px;
            right: -500px; 
                }
                #icone{
                    right: 0%; 
                        }
          
          #menu{
            top: 100px;
            right:  6%;
            text-align: center;
               }
          #imgIC{
             width: 25px;
                }
        
          body{
              
             width:350px ;
              }
              li{
                  padding-bottom: 15px;
              }
              .buttonP{
                width: 100px;
                height: 20px;
                
            }
             /**********sobre mim***********/
             .H1main{
                color: white;
                text-align: center;
                margin-bottom: 40px;
                font-size: 25px;
            }
            .sobre{

                margin: auto;
                color: white;
                display: block;
                height: 500px;
            }
            .ConteudoSobre{
                font-size: 16px;
                text-align: justify;
                width: 320px;
                margin: auto;
            }
            .sobreCores{ font-size: 17px;}
 }
 @media screen and (max-width: 330px){
    .contePri{
        right:-18%;
        font-size: 13px;
        width: 290px;
        top: 40%;
            }
    .h1P{
        font-size: 30px;
        }
    .h2P{
        font-size: 21px;
        }
 #check:checked ~ .barra{
   transform: translateX(-500px);
                        }
 /*stylo e fazendo barra de menu aparecer*/
 .barra{
   width: 400px;
   right: -500px; 
       }
       #icone{
        right: 0%; 
            }
 
 #menu{
   top: 100px;
   right:  0%;
   text-align: center;
      }
 #imgIC{
    width: 25px;
       }

 body{
     
    width:330px ;
     }
     li{
         padding-bottom: 15px;
     }
     .buttonP{
        width: 100px;
        height: 20px;
    }
       /**********sobre mim***********/
       .H1main{
        color: white;
        text-align: center;
        margin-bottom: 40px;
        font-size: 24px;
    }
    .sobre{

        margin: auto;
        color: white;
        display: block;
        height: 500px;
    }
    .ConteudoSobre{
        font-size: 16px;
        text-align: justify;
        width: 300px;
        margin: auto;
    }
    .sobreCores{ font-size: 16px;}
    }
